POSTGRES_USER=tijuana
POSTGRES_PASSWORD=cambia_esto
POSTGRES_DB=tijuana_reporta
POSTGRES_PORT=5432

DATABASE_URL=postgres://tijuana:cambia_esto@postgres:5432/tijuana_reporta?sslmode=disable
API_PORT=8080
JWT_SECRET=cambia_esto

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

VITE_API_URL=http://localhost/api/v1
VITE_MAPLIBRE_STYLE_URL=